<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>The Coffee Shop | @ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="description" content="Real estate HTML Template">
    <meta name="keywords" content="real estate, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="~/Content/img/favicon.ico" rel="shortcut icon" />
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900%7cRoboto:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" />
    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link href="~/Content/css/personalStyle.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/img/faviconCoffeeCup.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/img/faviconCoffeeCup.ico" type="image/x-icon">
    @RenderSection("head", false)

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section -->
    <header class="header-section">
        @*TODO: get logo put here
                <a href="index.html" class="site-logo">
                <img src="~/Content/img/logo.png" alt="">
            </a>*@
        <nav class="header-nav">
            <ul class="main-menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Menu", "About", "Home")</li>
                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                @if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                    <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                    <li>@Html.ActionLink("Lessons", "Index", "Lessons")</li>
                    <li>@Html.ActionLink("Lesson Views", "Index", "LessonViews")</li>
                    <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                    <li>@Html.ActionLink("Course Completions", "Index", "CourseCompletions")</li>
                }
                @if (User.IsInRole("Manager"))
                {
                    <li>@Html.ActionLink("Lessons", "Index", "Lessons")</li>
                    <li>@Html.ActionLink("Lesson Views", "Index", "LessonViews")</li>
                    <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                    <li>@Html.ActionLink("Course Completions", "Index", "CourseCompletions")</li>
                }
                @if (User.IsInRole("Employee"))
                {
                    <li>@Html.ActionLink("Lessons", "Index", "Lessons")</li>
                    <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                    <li>@Html.ActionLink("Lesson Progress", "PersonalProgress", "LessonViews")</li>
                    <li>@Html.ActionLink("Course Progress", "PersonalProgress", "CourseCompletions")</li>
                }
                @Html.Partial("_LoginPartial")
                @*Good ex of drop down in nav bar but not needed for anon
            <li>
            <a href="#">Pages</a>
            <ul class="sub-menu">
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="search-result.html">Search Result</a></li>
                <li><a href="single-property.html">Property</a></li>
            </ul>
        </li>*@
            </ul>
        </nav>
    </header>
    <!-- Header Section end -->
    <!-- Intro Section end -->
    <section class="intro-section spad">
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <!-- Intro Section end -->
    <!-- Footer Section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row text-white">
                <div class="col-lg-4">
                    <div class="footer-widger">
                        <div class="about-widget">
                            <div class="aw-text">
                                <h1>The Coffee Shop</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-widger">
                        <p>When everyone says lets meet down at the coffee shop, we are The Coffee Shop. Happy to offer a variety of drinks as well as yummy eats. Stop by and check us out.</p>
                        <a href="@Url.Action("Contact", "Home")" class="site-btn">we are hiring</a>

                    </div>
                </div>
            </div>
            <div class="copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | <br />Base Design <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </footer>
    <!-- Footer Section end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script>
        //Loop thru all of the elements in our navigation and find the anchor tag
        //that matches the href in navigation. Then add our selected class to that anchor
        //tag's li element.
        //$('.mainmenu ul li').each(function () {
        // if ($(this).find('a').attr('href') == window.location.pathname) {
        // $(this).addClass('selected');
        // }
        //});
        //With the code above, when you navigate to any sub view (anything OTHER THAN index),
        //you losethe highlighted navigation.
        //Desired outcome is for the highlight to remain on the main nav NO MATTER WHICH view is
        //beingdisplayed in that controller EXCEPT for the HOME controller.
        //loop through the li elements in the nav
        $('.header-nav ul li').each(function () {
            //if you want to match the stylesheet AND it has the assigned class on the anchor
            //modify code as follows:
            //$('.mainmenu ul li a').each(function () { //add the anchor to the DOM Selection
            //var fullAnchor = $(this).attr('href'); //remove the find('a') from the
            //fullAnchor (we are already there)
            //everything else stays the same.
            //get the full anchor tag and print to the console (in the inspector)
            var fullAnchor = $(this).find('a').attr('href');
            //console.log(fullAnchor);
            //split() the values by '/' (give us a collection) – of the controller Name(s)
            //log in the console
            var aController = fullAnchor.split('/');
            console.log('aController[1]: ' + aController[1])
            //get the full context of the url (including any querystring values)
            //substring to remove EVERYTHING before the path
            //(mysite.com/home/index - would return home/index)
            var fullPath = (window.location.pathname + location.search).substr(1);
            //break the string by the '/'
            var pController = fullPath.split('/');
            //check the values in the console
            console.log('pController[0]: ' + pController[0]);
            console.log('fullPath: ' + fullPath);
            console.log('window.location.pathname: ' + window.location.pathname);
            console.log('fullAnchor: ' + fullAnchor);
            console.log('------------------');
            if (window.location.pathname === fullAnchor || aController[1] === pController[0]) {
                //apply the selected class to the li where the
                //a.href.controllerName == p.fullName.controllerName
                //locate the anchor tag inside the li and compare the href
                //to the current broswer location - add class if they match
                
                $(this).find('a').addClass('active');
                
            if (aController[1] == 'Home' && window.location.pathname != fullAnchor)
            {
                $(this).find('a').removeClass('active');
            }
            }
            //resolve the logic issue. Without this logic all links that have
            //Home as the controller (except Home/Index) get the class added.

            //make sure that all links show Home as capitalized, this is a case sensitve
            //comparison (if you use Url.Action() or Html.ActionLink(), you should not have any
            //issue as those are methods that require case sensitivity calling the action
            //(method). If you use pathing ~/home/index, those will function in the browser but
            //will escape this logic).
            //if the controller is Home, but the path does NOT match the ENTIRE anchor - remove
            //the class (prevents 2 nav elements from showing selected simultaneously)
            //if (aController[1] == 'Home' && window.location.pathname != fullAnchor) {
            //    $(this).removeClass();
            //}
        });

    </script><!--highlighted nav script-->
    @RenderSection("scripts", false)
</body>
</html>
