@model IEnumerable<CoffeeShopLMS.DATA.EF.LessonView>

@{
    ViewBag.Title = "Personal Progress";
}

<h2>@ViewBag.Title</h2>

<table class="table" id="lessonViewTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateViewed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson.LessonTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDet.FirstName)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateViewed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lesson.LessonTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDet.FirstName)
                </td>
            </tr>
        }
    </tbody>

</table>


@section scripts{


    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#lessonViewTable').DataTable();
        });
    </script>
}

@section head{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

}